a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
}

body {
    margin: 0;
}

button {
    margin-left: 400px;
    margin-right: 401px;
    margin-top: 50px;
}

nav {
    padding: 32px 0px;
}

.header-ul-style {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.header-nav-ul-li-margin {
    margin-left: 72px;
}

.image {
    position: absolute;
}

.background-container {
    background-color: #00BDC9;
    width: 100%;
    height: 552px;
    position: absolute;
}

.image-container {
    background-color: #00BDC9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 599px;
    height: 368px;
    margin: 92px 400px 92px 420px;
    position: relative;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1900px;
}

.main-header-style {
    color: #000;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
}

.main-text-style {
    color: #161616;
    font-family: sans-serif;
    width: 856px;
    font-size: 21px;
    margin-left: 50px;
    line-height: 150%;
}

.main-lst-style {
    color: #161616;
    font-family: sans-serif;
    width: 780px;
    font-size: 18px;
    margin-left: 50px;
    line-height: 150%;
}

.main-span-style {
    color: #04959E;
}

.main-button-style {
    background-color: #04959E;
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    padding: 10px 24px;
    font-size: 18px;
    line-height: 135%;
    border: none;
    cursor: pointer;
}

.footer-text-style {
    color: #161616;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 150%;
}

.image-setting-character {
    width: 157.23px;
    height: 227.833px;
    margin: 140.16px 68.01px 0.01px 373.76px;
}

.image-setting-flower-white {
    width: 57.787px;
    height: 114.753px;
    margin: 249.04px 9.46px 4.21px 531.75px;
}

.image-setting-flower-green {
    width: 122.95px;
    height: 187.37px;
    margin: 176.47px 475.79px 4.16px 0.26px;
}

.image-setting-webpage-small {
    width: 98.689px;
    height: 136.341px;
    margin: 97.24px 0px 134.42px 500.31px;
}

.image-setting-webpage-big {
    width: 229.168px;
    height: 169.726px;
    margin: 39.28px 93.29px 158.99px 276.54px;
}

.image-setting-folder {
    width: 62.188px;
    height: 50.492px;
    margin: 26.41px 13.46px 291.09px 523.35px;
}

.image-setting-web-account-small {
    width: 112.297px;
    height: 45.817px;
    margin: 0px 337.43px 322.18px 149.28px;
}

.image-setting-web-account-big {
    width: 130.419px;
    height: 87.427px;
    margin: 42.22px 468.58px 238.35px 0px;
}

.image-setting-laptop-case {
    width: 448.486px;
    height: 296.425px;
    margin: 63.36px 84.3px 8.22px 66.22px;
}

.image-setting-laptop-screen{
    width: 423.15px;
    height: 250.327px;
    margin: 75.13px 97.6px 42.54px 78.25px;
}

.image-setting-picture-on-laptop-screen {
    width: 399.06px;
    height: 235.823px;
    margin: 89.64px 109.13px 42.54px 90.81px;
}

.image-setting-bottom-of-laptop {
    width: 485.901px;
    height: 25.937px;
    margin: 337.86px 65.64px 4.21px 47.46px;
}

.image-setting-line-under-laptop {
    width: 581.253px;
    height: 2px;
    margin: 363.79px 13.72px 3.76px 4.03px;
}

.image-setting-line-at-bottom-of-laptop {
    width: 383.746px;
    height: 2px;
    margin: 346.29px 138.37px 21.26px 76.89px;
}

.image-setting-cutout-laptop-case {
    width: 96.47px;
    height: 9.59px;
    margin: 337.86px 256.28px 20.55px 246.25px;
}

.image-setting-long-horizontal-line {
    width: 2px;
    height: 224.348px;
    margin: 94.19px 477.19px 49.46px 121.05px;
}

.image-setting-small-line1 {
    width: 12.958px;
    height: 2px;
    margin: 101.42px 485.12px 265.83px 100.92px;
}

.image-setting-small-line2 {
    width: 12.958px;
    height: 2px;
    margin: 114.15px 485.62px 253.1px 100.42px;
}

.image-setting-small-line3 {
    width: 12.958px;
    height: 2px;
    margin: 127.88px 485.62px 239.37px 100.42px;
}

.image-setting-small-line4 {
    width: 12.958px;
    height: 2px;
    margin: 141.6px 485.62px 225.65px 100.42px;
}

.image-setting-small-line5 {
    width: 12.958px;
    height: 2px;
    margin: 155.32px 485.62px 211.93px 100.42px;
}

.image-setting-small-line6 {
    width: 12.958px;
    height: 2px;
    margin: 169.03px 485.62px 198.21px 100.42px;
}

.image-setting-small-line7 {
    width: 12.958px;
    height: 2px;
    margin: 182.76px 485.62px 184.49px 100.42px;
}

.image-setting-small-line8 {
    width: 12.958px;
    height: 2px;
    margin: 196.48px 485.62px 170.77px 100.42px;
}

.image-setting-small-line9 {
    width: 12.958px;
    height: 2px;
    margin: 210.2px 485.62px 157.05px 100.42px;
}

.image-setting-small-line10 {
    width: 12.958px;
    height: 2px;
    margin: 223.92px 485.62px 143.33px 100.42px;
}

.image-setting-small-line11 {
    width: 12.958px;
    height: 2px;
    margin: 237.65px 485.62px 129.6px 100.42px;
}

.image-setting-small-line12 {
    width: 12.958px;
    height: 2px;
    margin: 251.37px 485.62px 115.88px 100.42px;
}

.image-setting-small-line13 {
    width: 12.958px;
    height: 2px;
    margin: 265.09px 485.62px 102.16px 100.42px;
}

.image-setting-small-line14 {
    width: 12.958px;
    height: 2px;
    margin: 278.81px 485.62px 88.44px 100.42px;
}

.image-setting-small-line15 {
    width: 12.958px;
    height: 2px;
    margin: 292.53px 485.62px 74.71px 100.42px;
}

.image-setting-small-line16 {
    width: 12.958px;
    height: 2px;
    margin: 306.25px 485.62px 60.99px 100.42px;
}

.image-setting-small-horizontal-blue-line1 {
    width: 33.651px;
    height: 2px;
    margin: 113.35px 433.66px 253.9px 131.69px;
}

.image-setting-small-horizontal-blue-line2 {
    width: 33.651px;
    height: 2px;
    margin: 306.25px 433.66px 60.99px 131.69px;
}

.image-setting-big-horizontal-blue-line1 {
    width: 62.948px;
    height: 2px;
    margin: 141.6px 386.8px 225.65px 149.25px;
}

.image-setting-big-horizontal-blue-line2 {
    width: 62.948px;
    height: 2px;
    margin: 237.56px 386.8px 129.69px 149.25px;
}

.image-setting-big-horizontal-blue-line3 {
    width: 144.06px;
    height: 1.5px;
    margin: 265.01px 180.3px 102.24px 274.64px;
}

.image-setting-small-horizontal-wighte-line1 {
    width: 33.651px;
    height: 2px;
    margin: 127.88px 433.66px 239.37px 131.69px;
}

.image-setting-small-horizontal-wighte-line2 {
    width: 33.651px;
    height: 2px;
    margin: 182.76px 416.99px 184.49px 148.36px;
}

.image-setting-small-horizontal-wighte-line3 {
    width: 33.651px;
    height: 2px;
    margin: 278.73px 416.99px 88.52px 148.36px;
}

.image-setting-small-horizontal-wighte-line4 {
    width: 33.651px;
    height: 2px;
    margin: 292.53px 433.66px 74.71px 131.69px;
}

.image-setting-big-horizontal-white-line1 {
    width: 50px;
    height: 2px;
    margin: 141.6px 314.01px 225.65px 222.04px;
}

.image-setting-big-horizontal-white-line2 {
    width: 92.774px;
    height: 2px;
    margin: 155.32px 231.58px 211.93px 274.64px;
}
.image-setting-big-horizontal-white-line3 {
    width: 92.774px;
    height: 2px;
    margin: 155.32px 341.83px 211.93px 164.39px;
}

.image-setting-big-horizontal-white-line4 {
    width: 92.774px;
    height: 2px;
    margin: 169.03px 341.83px 198.21px 164.39px;
}

.image-setting-big-horizontal-white-line5 {
    width: 92.774px;
    height: 2px;
    margin: 182.76px 305.53px 184.49px 200.7px;
}

.image-setting-big-horizontal-white-line6 {
    width: 92.774px;
    height: 2px;
    margin: 182.76px 192.15px 184.49px 314.07px;
}

.image-setting-big-horizontal-white-line7 {
    width: 92.774px;
    height: 2px;
    margin: 210.2px 277.97px 157.05px 228.26px;
}

.image-setting-big-horizontal-white-line8 {
    width: 92.774px;
    height: 2px;
    margin: 210.2px 167.49px 157.05px 338.73px;
}

.image-setting-big-horizontal-white-line9 {
    width: 92.774px;
    height: 2px;
    margin: 237.56px 314.01px 129.69px 222.04px;
}

.image-setting-big-horizontal-white-line10 {
    width: 92.774px;
    height: 2px;
    margin: 251.28px 341.83px 115.97px 164.39px;
}

.image-setting-big-horizontal-white-line11 {
    width: 92.774px;
    height: 2px;
    margin: 251.28px 231.58px 115.97px 274.64px;
}

.image-setting-big-horizontal-white-line12 {
    width: 92.774px;
    height: 2px;
    margin: 265.01px 341.83px 102.24px 164.39px;
}

.image-setting-big-horizontal-white-line13 {
    width: 92.774px;
    height: 2px;
    margin: 278.73px 305.53px 88.52px 200.7px;
}

.image-setting-big-horizontal-white-line14 {
    width: 92.774px;
    height: 2px;
    margin: 278.73px 192.15px 88.52px 314.07px;
}

.p-css-style {
    color: #FAFAFA;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin: 212px 355px 101px 143px;
}